@page "/"
@using ThankmasCalendar.Pages.House
<PageTitle>ThankmasCalendar</PageTitle>
<h1>Thankmas Calendar</h1>
<p>Placeholder for explaining this calendar.</p>

<TelerikWindow Width="500px" Height="300px" Centered="true" @bind-Visible=@WindowVisible Modal="true">
    <WindowTitle>
        <strong>Modal Window</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <p>Click the close button to dismiss this modal dialog.</p>
    </WindowContent>
</TelerikWindow>

<div class="sky">
    @*<div class="snow-fall"></div>*@
    <div class="house-position">
        <div class="house-wrapper">
            <div class="roof">
                <svg width="100%" height="142" viewBox="0 0 1088 142" preserveAspectRatio="none">
                    <path d="M550 0L1017.5 58.2947L1088 142H12L80 58.2947L550 0Z" fill="#67430D" />
                    <path d="M36.5 112C229.5 72.2202 259.5 112 413.5 98.5C567.5 85 583 71.1743 791 73.5C999 75.8258 1055.5 98.5 1055.5 98.5L1088 142H0L36.5 112Z" fill="white" />
                </svg>
            </div>
            <div class="house">
                <div class="house-icing-top">
                    <svg width="100%" height="71" viewBox="0 0 994 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_28_2538)">
                            <path d="M989.831 4.88384C970.859 17.1947 946.168 32.7286 961.203 58.2501C964.135 63.2253 980.33 59.2116 980.194 52.5828C979.796 33.1564 969.116 21.6901 950.816 17.559C924.363 11.5875 889.975 1.15137 890.776 40.2615C891.26 63.8493 913.596 48.5737 906.53 37.7794C900.076 27.9202 891.908 20.36 880.622 16.719C872.084 13.9644 862.702 13.614 853.88 12.4691C848.048 11.7123 837.84 9.01588 832.379 10.7508C811.041 17.5296 804.159 45.5417 823.675 57.9508C832.436 63.5212 836.414 53.5827 838.289 45.8958C842.064 30.4197 829.486 23.3648 817.186 17.5397C793.137 6.15053 753.411 6.08997 737.22 29.0153C726.741 43.8519 748.005 58.1531 752.799 41.051C760.954 11.9583 714.497 6.22984 695.92 16.5472C681.55 24.528 674.293 46.3565 685.246 59.7092C693.123 69.3118 700.392 44.2356 698.597 37.8439C694.828 24.4174 679.786 19.5116 667.407 17.9714C648.034 15.5611 630.143 16.1827 611.614 23.4335C600.151 27.9192 587.024 32.1447 587.298 45.5236C587.73 66.5798 616.237 59.8758 610.116 42.4168C605.881 30.338 582.083 24.2035 571.004 21.6271C558.491 18.7172 540.214 19.7789 533.489 32.7122C531.297 36.9283 530.533 46.3016 532.684 50.9616C534.385 54.6469 541.248 61.7336 544.562 55.0363C558.993 25.868 483.481 18.0525 471.971 17.7797C460.572 17.5096 430.281 18.7588 427.739 34.8802C426.699 41.473 423.648 48.5693 428.252 54.1821C432.245 59.0488 449.057 57.9268 454.725 56.7582C469.362 53.74 451.118 31.5585 447.066 28.3664C434.302 18.3127 415.725 13.2382 399.913 18.0575C393.068 20.1436 380.451 31.3282 376.966 37.8404C375.153 41.2279 370.111 49.6835 373.518 53.7449C379.718 61.1368 385.296 58.7528 387.385 51.3014C394.946 24.3254 331.217 19.9691 316.319 25.1691C304.746 29.2089 296.224 34.4937 296.494 47.6469C296.654 55.4562 296.719 62.7193 306.878 59.4294C315.23 56.7247 315.946 49.4739 309.609 43.0598C294.229 27.4895 273.717 19.9094 252.052 20.0092C235.455 20.0857 193.018 31.3937 210.689 56.2434C222.854 73.3494 254.111 54.9602 239.932 38.6105C224.8 21.1635 195.352 11.6404 173.722 7.70057C163.715 5.87798 157.578 7.01325 149.05 12.4047C139.98 18.1388 128.943 19.8946 120.078 25.9536C116.763 28.2188 115.897 48.8523 119.408 50.7976C125.504 54.1755 138.828 58.2275 142.515 50.3239C146.227 42.3646 144.332 26.1669 137.887 20.1906C123.806 7.13345 97.8142 10.2164 80.6052 10.5692C74.8878 10.6864 70.4341 13.8192 65.8833 17.3485C63.4805 19.212 64.6996 23.4586 62.5235 26.054C59.6564 29.4734 58.4058 44.8258 62.9561 47.1568C78.0071 54.8671 78.2963 26.6073 65.7164 20.7106C45.4583 11.2147 28.6198 11.635 7.03957 12.0774" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                        </g>
                        <defs>
                            <filter id="filter0_d_28_2538" x="0.0395813" y="0.883362" width="993.792" height="69.1958" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset dx="-3" dy="3" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_28_2538" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_28_2538" result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
                <div class="house-flex">
                    <HouseIcingSides />
                    <div class="house-grid">
                        <div @onclick="@(_=> HandleClick(1))" class="window-1 grid-box animate__animated @Window1Css">
                            <WindowLandscape />
                        </div>
                        <div @onclick="@(_=> HandleClick(2))" class="window-2 grid-box animate__animated @Window2Css">
                            <WindowOval />
                        </div>
                        <div @onclick="@(_=> HandleClick(3))" class="window-3 grid-box animate__animated @Window3Css">
                            <WindowLandscape ShowCoco="true" />
                        </div>
                        <div @onclick="@(_=> HandleClick(4))" class="window-4 grid-box animate__animated @Window4Css">
                            <WindowCircle />
                        </div>
                        <div @onclick="@(_=> HandleClick(5))" class="window-5 grid-box animate__animated @Window5Css">
                            <WindowSquare />
                        </div>
                        <div @onclick="@(_=> HandleClick(6))" class="window-6 grid-box animate__animated @Window6Css">
                            <WindowSquare ShowDecorations="true" />
                        </div>
                        <div @onclick="@(_=> HandleClick(7))" class="window-7 grid-box animate__animated @Window7Css">
                            <WindowCircle ShowDecoration="true" />
                        </div>
                        <div @onclick="@(_=> HandleClick(8))" class="window-8 grid-box animate__animated @Window8Css">
                            <WindowPortrait />
                        </div>
                        <div @onclick="@(_=> HandleClick(9))" class="window-9 grid-box animate__animated @Window9Css">
                            <WindowPortrait ShowDecorations="true" />
                        </div>
                        <div @onclick="@(_=> HandleClick(10))" class="door-10 grid-box animate__animated @Window10Css">
                            <Door />
                        </div>
                    </div>
                    <HouseIcingSides />
                </div>
            </div>
        </div>
    </div>
    <div class="snow">
        <svg width="100%" fill="none" height="100px" viewBox="0 0 500 100" preserveAspectRatio="none">
            <path d="M0 15.9999C0 15.9999 7.5 21.4999 71.5 23.4999C135.5 25.4999 253.5 12 356 3.00001C458.5 -5.99999 730 13.9999 801 15.9999C872 17.9999 1060 30 1178 31C1296 32 1440 15.9999 1440 15.9999V101H0V15.9999Z" fill="white" />
        </svg>
    </div>
    <div class="forest-wrapper">
        <Forest1/>
        <Forest2/>
    </div>
</div>